<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .section-11{
          padding-right: 25px;
          padding-left: 25px;
      }
      .section-11-table {
          width: 100%;
          border-collapse: collapse;
          font-family: sans-serif;
      }

      .section-11-th, .section-11-td {
          padding: 15px 30px;
          text-align: left;
          border-bottom: 1px solid #4b4b4b;
      }

      .section-11-td-2{
          padding: 15px 30px;
          text-align: left;
          border-bottom: 2px solid #F04A00;
      }

      .section-11-th {
          border-bottom: 1px solid #4b4b4b;
          align-items: center;
      }

      .specific-column{
          border-right: 2px solid #F04A00;
          border-left: 2px solid #F04A00;
      }

      .section-11-td {
          color:  #4b4b4b;
      }

      .section-11-td-1 {
          padding: 1px;
          text-align: left;
          border-bottom: 1px solid #4b4b4b;
          color:  #4b4b4b;
      }

      .section-11-img {
          max-width: 175px;
      }

      .section-11-img-1 {
          max-width: 159px;
      }

      .section-11 {
          margin-top: 15px;
      }

      .section-11-container {
          max-width: 1500px;
          margin: auto;
      }

      .section-11-text {
          font-size: 15px;
          line-height: 99%;
          font-weight: 500;
          color: black;
      }

      .section-4-h1{
          text-transform: uppercase;
          font-weight: 600;
          font-size: 23px;
          line-height: 92%;
          color: black;
      }

      /* Responsive styles */
      @media (max-width: 768px) {
          .section-11-th, .section-11-td {
              padding: 10px 12px;
              font-size: 13px;
          }

          .section-11-img {
              max-width: 120px;
          }

          .section-11-img-1 {
              max-width: 114px;
          }

          .section-11-text {
              font-size: 11px;
              line-height: 100%;
          }

          .section-4-h1{
              font-size: 15px;
              line-height: 100%;
          }

          .section-11-td-1{
              font-size: 13px;
          }

          .section-11-td{
              font-size: 13px;
          }
      }

      /* Scrollable table wrapper */
      .scrollable-table-wrapper {
          overflow-x: auto;
          width: 100%;
      }
    </style>
  </head>
  <body>
    <section class="section-11">
      <div class="section-11-container">
        <div class="scrollable-table-wrapper">
          <table class="section-11-table">
            <thead class="section-11-thead">
              <tr class="section-11-tr">
                <th colspan="8">
                  <h1 style="color: black; font-size: 35px;">{{ 'bikes.title.gravel' | t }}</h1>
                </th>
              </tr>
              <tr class="section-11-tr">
                <th class="section-11-th"></th>
                <th class="section-11-th">
                  <img class="section-11-img" src="{{ 'bikes.sandman1.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman1.title' | t }}</div>
                  <div class="section-11-text">
                    {{ 'bikes.sandman1.description' | t }}
                  </div>
                </th>
                <th class="section-11-th">
                  <img class="section-11-img" src="{{ 'bikes.sandman3.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman3.title' | t }}</div>
                  <div class="section-11-text">
                    {{ 'bikes.sandman3.description' | t }}
                  </div>
                </th>
                <th class="section-11-th specific-column" style="border-top: 2px solid #F04A00;">
                  <img class="section-11-img" src="{{ 'bikes.sandman4.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman4.title' | t }}</div>
                  <div class="section-11-text" style="color: #F04A00; font-weight: bold;">
                    {{ 'bikes.sandman4.description' | t }}
                  </div>
                </th>
                <th class="section-11-th">
                  <img class="section-11-img" src="{{ 'bikes.sandman5.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman5.title' | t }}</div>
                  <div class="section-11-text">
                    {{ 'bikes.sandman5.description' | t }}
                  </div>
                </th>
                <th class="section-11-th">
                  <img class="section-11-img" src="{{ 'bikes.sandman6.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman6.title' | t }}</div>
                  <div class="section-11-text">
                    {{ 'bikes.sandman6.description' | t }}
                  </div>
                </th>
                <th class="section-11-th">
                  <img class="section-11-img" src="{{ 'bikes.sandman7.image' | t }}">
                  <div class="section-4-h1">{{ 'bikes.sandman7.title' | t }}</div>
                  <div class="section-11-text">
                    {{ 'bikes.sandman7.description' | t }}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="section-11-tbody">
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.weight_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.weight' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.weight' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.weight' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.weight' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.weight' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.weight' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.gear_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.gear' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.gear' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.gear' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.gear' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.gear' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.gear' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.gears_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.gears' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.gears' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.gears' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.gears' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.gears' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.gears' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.frame_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.frame' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.frame' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.frame' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.frame' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.frame' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.frame' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.frameSize_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.frameSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.frameSize' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.frameSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.frameSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.frameSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.frameSize' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.brakes_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.brakes' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.brakes' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.brakes' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.brakes' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.brakes' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.brakes' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.wheelSize_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.wheelSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.wheelSize' | t }}</td>
                <td class="section-11-td specific-column">{{ 'bikes.sandman4.wheelSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.wheelSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.wheelSize' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.wheelSize' | t }}</td>
              </tr>
              <tr class="section-11-tr">
                <td class="section-11-td-1">{{ 'bikes.rims_label' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman1.rims' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman3.rims' | t }}</td>
                <td class="section-11-td-2 specific-column">{{ 'bikes.sandman4.rims' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman5.rims' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman6.rims' | t }}</td>
                <td class="section-11-td">{{ 'bikes.sandman7.rims' | t }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>

{% schema %}
  {
    "name": "Rinosbike-Comparison-1",
    "settings": [],
    "presets": [
        {
            "name": "Rinosbike-Comparison-1",
            "category": "Custom"
        }
    ]
}
{% endschema %}
